/* Color Codes
-------------------------------------------------- */
:root {
  --lt-light-gray: #AEABB8;
  --lt-dark-gray: #384144;
  --lt-dark-blue: #073747;
  --lt-blue: #09516c;
  --lt-dark-red: #7b383a;
  --lt-text-gray: #7b7d7a;
  --lt-yellow: #bace4f;
}

/* General
-------------------------------------------------- */
#side-nav {
  padding: 5px 15px;
}
/* Side-Nav Users
-------------------------------------------------- */
.side-nav-user {
  background-color: var(--lt-light-gray);
  border-radius: 0.5em;
  font-size: x-small;
  padding: 5px 15px;
  margin: 0.5em 0;
}
#side-nav .user-link {
  color: var(--lt-dark-red);
  text-decoration: none;
}
.side-nav-user:hover {
  cursor: pointer;
  background-color: red;
}
#side-nav .user-link:hover {
  color: var(--lt-yellow);
}
/* Album Card
-------------------------------------------------- */
.album-card {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 70px;
  color: white;
  background-color: var(--lt-dark-gray);
  border: 1px solid var(--lt-dark-blue);
  border-radius: 10px;
  padding: 15px;
  font-size: small;
  overflow: hidden;
}
.album-card:hover {
  cursor: pointer;
  background-color: var(--lt-dark-blue);
  border: 1px solid var(--lt-yellow);
}
.album-title {
  position: absolute;
  top: 5px;
  left: 8px;
  width: 80%;
  font-weight: bold;
  font-size: 1em;
}
.album-title a {
  text-decoration: none;
  color: white;
}
.album-card #user-icon {
  position: absolute;
  font-size: xx-small;
  text-align: center;
  width: 2.8em;
  height: 2.8em;
  top: 5px;
  right: 5px;
  padding: 5px;
  background-color: var(--lt-dark-blue);
  border: 1px solid var(--lt-blue);
  border-radius: 50%;
}
.album-card #album-thumbnails {
  opacity: 30%;;
  position: absolute;
  top:0;
  right:0;
  z-index:0;
}
.album-card #album-thumbnails:hover {
  opacity: 100%;
}
.album-card #album-thumbnails img {
  width: 12.5%;
}

/* Photo Card
-------------------------------------------------- */
.photo-card {
  position: relative;
  border: 1px solid var(--lt-light-gray);
  overflow: hidden;
  border-radius: 10px;
}
.photo-card-thumbnail img {
  width:100%;
}
.photo-card-title {
  position:absolute;
  font-size: x-small;
  top: 8px;
  left: 8px;
  width: 90%;
}
.photo-card a {
  color: white;
}